* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  opacity: 0.8;
  background-image: linear-gradient(rgb(28, 28, 28) 2px, transparent 2px),
    linear-gradient(90deg, rgb(28, 28, 28) 2px, transparent 2px),
    linear-gradient(rgb(28, 28, 28) 1px, transparent 1px),
    linear-gradient(90deg, rgb(28, 28, 28) 1px, #141617 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  height: 100%;
  width: 100%;
  animation: animatedBackground 500s linear infinite;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 2000rem 0;
  }
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

* ::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
